<launch>
    <!-- ################### Arguments ###################-->
    <arg name="add_gripper" default="true" />
    <arg name="add_realsense_d435i" default="true" />
    <!-- pipeline is stomp or ompl -->
    <arg name="pipeline" default="ompl" />
    <!-- use_pathseed -->
    <arg name="use_pathseed" default="true" />
    <arg name="sim" default="false" />
    <arg name="robot_ip" default="192.168.1.195" />

    <!-- ################### Parameters ###################-->
    <!-- use_pathseed -->
    <param name="use_pathseed" value="$(arg use_pathseed)" />
    <!-- csv files -->
    <param name="pipeline" value="$(arg pipeline)" />
    <param name="octomap_frame" value="map" />
    <param name="octomap_resolution" value="0.02" />
    <param name="use_octomap_monitor" value="true" />
    <rosparam command="load" file="$(find xarm6_moveit_config)/config/sensors_3d.yaml" ns="move_group"/>

    <!-- ################### Launch ###################-->
    <group if="$(arg sim)">
        <include file="$(find xarm_gazebo)/launch/xarm6_beside_table.launch">
            <arg name="add_gripper" value="$(arg add_gripper)" />
        </include>
        <!-- MoveIt! Launch -->
        <include file="$(find xarm6_gripper_moveit_config)/launch/xarm6_gripper_moveit_gazebo.launch" />
    </group>
    <group unless="$(arg sim)">
        <!-- Robot and RealSense Launch -->
        <include file="$(find xarm6_gripper_moveit_config)/launch/realMove_exec.launch">
            <arg name="robot_ip" value="$(arg robot_ip)" />
            <arg name="add_realsense_d435i" value="$(arg add_realsense_d435i)" />
        </include>
    </group>

    <!-- Planning Functionality -->
    <include ns="move_group" file="$(find xarm6_gripper_moveit_config)/launch/planning_pipeline.launch.xml">
        <arg name="pipeline" value="$(arg pipeline)" />
    </include>

</launch>
